@font-face {
    font-family: 'Nexa';
    src: url('/assets/fonts/NEXABOLD.otf') format('opentype');
    font-weight: bold;
  }
  
  body {
    font-family: 'Nexa', sans-serif;
  }
  
.bgimg{
  // height: 100%;
height: 100vh;
// position: fixed;
  background-image: url("../assets/WebpageBG2.jpg");
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
